body{
    background-color: #d0d5dc;
}
.about{
    margin-top: 120px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    text-shadow: 1px 1px 1px white;
    line-height: 60px;
}