header{
    width: 100vm;
/*    height: 100vh;*/
    margin-top: 80px;
    padding-top: 60px;
}
body{
    background-color: #d0d5dc;
}
.img{
    margin: 0 auto;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 0 20px black;
}
.img>img{
    width: 200px;
}
.content{
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 20px 0;
    width: 60%;
}
.time{
    margin: 30px auto 0 auto;
    background-color: black;
    color: white;
    padding: 10px;
    width: 256px;
    box-shadow: 0 0 20px black;
}
@media screen and (max-width:640px){
    .time{
        width: 200px;
    }
}